@media (min-width: 992px) {
  #mobileView {
    display: none!important;
  }
}

@media (max-width: 991px) {
  #desktopView {
    display: none!important;
  }
}

.bg-dark {
background-color: #FF5B5E !important;
}

.navbar-brand {
padding-top: .4125rem !important;
padding-bottom: 0 !important;
}

/*.login-register {
 background-image: url('/storage/event_banner_images/E7Vlp5NW5BD2gS9eocfswf3faoVLyr0UsQv2wjvy.png') !important;
}*/

.navbar-toggler-icon {
background-image: url("data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNv…c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=");
}

.navbar-light .navbar-toggler {
border: none;
}

.nav-link {
width: 100px;
text-align: center;
background: white;
margin-left: 10px;
border-radius: 0px;
padding: 5px 0px;
}

.nav-link.register {
background: #36404a;
color: #fff !important;
}

.nav-link.login {
  color:#FF5B5E !important;
}

@media (max-width: 576px) {

  .material-form {
    width: 100% !important;
  }

  .mb-background {
    background: #fff;
    padding: 25px;
    width: 100%;
  }

  .login-register .login-container .form-container, .login-register .register-container .form-container {
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.36) 93.28%, transparent 100%, rgba(67, 68, 67, 1)), url('https://itinify.datlio.com/storage/event_banner_images/E7Vlp5NW5BD2gS9eocfswf3faoVLyr0UsQv2wjvy.png') !important;*/
    background-position: 30%;
    background-color: #fff;
  }

  .login-register .login-container .form-container h4, .login-register .register-container .form-container h4 {
    font-size: 2rem !important;
  }

}

@media (max-width: 375px) {
  .navbar-brand {
    width: 50%;
  }
}
